
  
  .HomeWelcome{
    color: #8FB464;
    text-shadow: -1px -1px 0 #000, 5px -1px 0 #000, -1px 5px 0 #000, 5px 5px 0 #000;
    font-size: 5em;
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    font-family: 'Anton', sans-serif;
    backface-visibility: hidden;
  }