header {
    background-color: forestgreen;
    width: 100vw;
    color: #fff;
    padding: 0;
    margin: 0;
  }
  nav {
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }
  nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  nav ul li a {
    display: flex;
    padding: 1em;
    color: #0B0B0B;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul li a:hover{
    background-color: lightgreen;
  }